# Lambda

In [ ]:
A lambda fucntion is a small anonymous function

### A lambda expression is a way of creating a little function inline, without all the suntax of def

In [ ]:
lambda arguments: expression

In [ ]:
Write a lambda function to return the square of the number

In [2]:
x = lambda x: x*x

In [3]:
x(5)

25

In [4]:
def square(x):
    return x*x

In [28]:
square

In [7]:
square(5)

25

In [8]:
(lambda x: x*x)(5)

25

In [9]:
print(25)

25

In [ ]:
Write a lambda function to return cube of a number

In [12]:
(lambda jovan : jovan**3)(5)

125

In [13]:
list_of_numbers = [1,2,5,8,9]

list(map( lambda x:x*x , list_of_numbers))

[1, 4, 25, 64, 81]

In [14]:
def square(x):
    return x*x

In [15]:
list (map (square , list_of_numbers ))

[1, 4, 25, 64, 81]

In [16]:
list (map ( lambda vandita:vandita**2 , list_of_numbers ))

[1, 4, 25, 64, 81]

In [17]:
list_of_string = ["F","F","M","M","F","M","F","M","M"]

In [ ]:
3 mins 20:17 PM
 write a list containig only female students from list_of_string iterable
                ** use filter function
                ** use lambda expression

In [19]:
list_of_string = ["F","F","M","M","F","M","F","M","M"]

filtered_list = list(filter(lambda gender: gender=="F", list_of_string))

In [20]:
filtered_list

['F', 'F', 'F', 'F']

In [25]:
list_of_string = ["F","F","M","FM","KMJHYF","M","F","M","M"]
filtered_list = list(filter(lambda gender: "F" in gender, list_of_string))

In [26]:
filtered_list

['F', 'F', 'FM', 'KMJHYF', 'F']

In [29]:
(lambda x,y: x+y)(5,6)

11

# list comprehension

In [ ]:
Q) to print the list of the first 10 natural numbers?

In [30]:
l = []
for i in range(1,11):
    l.append(i)

In [31]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
list_of_natural_numbers = [i for i in range(1,11)]

In [33]:
list_of_natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
l = [i for i in range(1,11,2)]

In [37]:
l

[1, 3, 5, 7, 9]

In [ ]:
# newlist = [expression for item in iterable]

In [ ]:
Q) write a program to print a list of even numbers from 1 to 10 in reverse order

In [42]:
rev = [i for i in range(10,-1,-2)]

In [43]:
rev

[10, 8, 6, 4, 2, 0]

In [ ]:
# newlist = [expression for item in iterable if condition == True]

In [44]:
reverse = [i for i in range(10,-1,-1) if i%2!=0]

In [45]:
reverse

[9, 7, 5, 3, 1]

In [46]:
l = []
for i in range(10,-1,-1):
    if i%2!=0:
        l.append(i)

In [47]:
l

[9, 7, 5, 3, 1]

In [54]:
reverse = {i for i in range(10,-1,-2) if i%2==0}

In [55]:
reverse

{0, 2, 4, 6, 8, 10}

In [ ]:
Q) write a program to print a list of even numbers from 1 to 10 and for odd numbers
convert them to string.

In [ ]:
["1",2,"3",4,"5",6,"7"]

In [58]:
l = []
for i in range(11):
    if i%2==0:
        l.append(i)
    else:
        l.append(str(i))

In [59]:
l

[0, '1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [60]:
[i if i%2==0 else str(i) for i in range(11)]

[0, '1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [ ]:
#if you have only if statement

[i for i in iterable if condition]

#if you are having if and else statement

[statement if condition else statement for item in iterable]

In [61]:
l = []
for i in range(10):
    for j in range(i):
        l.append(j)

In [62]:
print(l)

[0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
list_number = [j for i in range(10) for j in range(i)]

In [67]:
print(list_number)

[0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
list_of_fruits = ["apple","mango","banana","strawberry","dragon fruit","blackberry","avacado","blueberie"]

In [69]:
newlist = [i for i in list_of_fruits if i[0] == "a"]

In [70]:
newlist

['apple', 'avacado']

we want to print the list containing the fruits whose names starts with a and the first letter of those fuits whose name doesn't sytart with a

In [ ]:
desired output --> ["apple","m","b","s","d","b","avacado","b"]

In [71]:
[i if i[0]=="a" else i[0] for i in list_of_fruits]

['apple', 'm', 'b', 's', 'd', 'b', 'avacado', 'b']

In [74]:
[i if i[0] == "a" else i[0] for i in list_of_fruits]

['apple', 'm', 'b', 's', 'd', 'b', 'avacado', 'b']

In [ ]:
syntax if condition else syntax

In [ ]:
if condition:
    syntax
else:
    syntax

In [91]:
list1 = [1,2,3,4,6]
list2 = [-1,-2,-4,-7,8]

In [79]:
list(map(lambda x,y:x+y , list1, list2))

[0, 0, -1, -3, 14]

In [ ]:
[-1, -3, 14]

In [ ]:
4 mins 21:21 PM

In [82]:
list(map(lambda x,y:x+y,list1,list2))

[0, 0, -1, -3, 14]

In [85]:
list1 = [1,2,3,4,6]
list2 = [-1,-2,-4,-7,-8]
z = list(map(lambda x,y:x+y,list1,list2))

In [92]:
z = list(filter(lambda x:x!=0, list(map(lambda x,y:x+y,list1,list2))))

In [93]:
print(z)

[-1, -3, 14]

In [94]:
l1=[1,2,3,4,6]
l2=[-1,-2,-4,-7,-8]
s=list(map(lambda x,y:x+y ,l1,l2))
o=s[::-1]
print(o)

[-2, -3, -1, 0, 0]