In [ ]:
mutable data type (editable)
    list
    dict
    set
immutable data types (non editable)
    int
    float 
    str
    tuple
    bool
    None
    complex

2 most important set key and dict key
    keys are unique
    immutable

In [ ]:
conditional statement

In [ ]:
if else

In [ ]:
if expression:
    statement
else:
    statement

In [1]:
x = "Mango"

In [2]:
if "Mango" == x:
    print("Yay x is ",x)

Yay x is  Mango

In [4]:
var = "Hajmola"

if "H" in var:
    print("Hajmola Digests all when you need")

Hajmola Digests all when you need

In [5]:
print("Hajmola Digests all when you need")

Hajmola Digests all when you need

In [8]:
print(var," Digests all when you need",var)

Hajmola  Digests all when you need Hajmola

In [11]:
x = "Pomegranate"
if "Mango" == x:
    print("Yay x is ",x)
else:
    print("We don't have mango")

Yay x is  Mango

In [12]:
var = "Hajmola"

if "H" in var:
    print("Hajmola Digests all when you need")

Hajmola Digests all when you need

In [ ]:
#membership operator --> in

In [15]:
var = "Hajmola"

if "A" in var:
    print("Hajmola Digests all when you need")
else:
    print("sorry your value is not present in ",var)

sorry your value is not present in  Hajmola

In [14]:
var = "Hajmola"

if "a" in var:
    print("Hajmola Digests all when you need")

Hajmola Digests all when you need

In [19]:
club = ["prashant" , "nikita" ,"nidhi", "anand", "muskan"]

if "Deepak"  in club:
    print("member is in the club")
else:
    print("Member is not club")

Member is not club

In [20]:
club = ["prashant" , "nikita" ,"nidhi", "anand", "muskan"]
if "prashant"  in club:
    print("prashant is in the club")
else:
    print("prashant is not club")

prashant is in the club

In [ ]:
ASCII value

In [21]:
ord('A')

65

In [22]:
ord('Z')

90

In [23]:
ord('#')

35

In [24]:
ord('a')

97

In [31]:
club = ["prashant","nikita", "anand", "muskan"]

# prashant is friend of nidhi

In [32]:
if "prashant" in club:
    
    if "nidhi" in club:
        print("prashant and Nidhi is in the club")
    else:
        print("Okay lets study with prasant only")
        
else:
    print("I don't want to join the club")

Okay lets study with prasant only

In [34]:
x = "Ansari"

In [35]:
if type(x) is str:
    print(x)
else:
    print(type(x))

Ansari

In [36]:
x = 23
if type(x) is str:
    print(x)
else:
    print(type(x))

<class 'int'>

## Loop

In [37]:
transaction_list = [500,200,700,100,1000]

In [38]:
print("You have debited Rs",transaction_list[0])
print("You have debited Rs",transaction_list[1])
print("You have debited Rs",transaction_list[2])
print("You have debited Rs",transaction_list[3])
print("You have debited Rs",transaction_list[4])

You have debited Rs 500
You have debited Rs 200
You have debited Rs 700
You have debited Rs 100
You have debited Rs 1000

In [39]:
for amount in transaction_list:
    print("You have debited Rs",amount)

You have debited Rs 500
You have debited Rs 200
You have debited Rs 700
You have debited Rs 100
You have debited Rs 1000

In [41]:
for i in transaction_list:
    print("You have debited Rs",i)

You have debited Rs 500
You have debited Rs 200
You have debited Rs 700
You have debited Rs 100
You have debited Rs 1000

In [43]:
fruits = ["Mango","Banana","Pears","Pineapple","Kiwi","Strawberry","Dragon Fruits"]

In [46]:
for plastic_bag in fruits:
        print("I brought",plastic_bag)

I brought Mango
I brought Banana
I brought Pears
I brought Pineapple
I brought Kiwi
I brought Strawberry
I brought Dragon Fruits

In [ ]:
for var in collection:
    Statement

In [50]:
for plastic_bag in fruits:
    
    if "Dragon Fruits" in plastic_bag:
        print("never mind")
    else:
        print("I brought",plastic_bag)

I brought Mango
I brought Banana
I brought Pears
I brought Pineapple
I brought Kiwi
I brought Strawberry
never mind

In [51]:
for plastic_bag in fruits:
    
    if "Dragon Fruits" == plastic_bag:
        print("never mind")
    else:
        print("I brought",plastic_bag)

I brought Mango
I brought Banana
I brought Pears
I brought Pineapple
I brought Kiwi
I brought Strawberry
never mind

# Sindhuja's Code

In [53]:
set_value={1,3,4,7,8,9,0,0,0,0}

for I in set_value:
    print("the values of set_value",I)

the values of set_value 0
the values of set_value 1
the values of set_value 3
the values of set_value 4
the values of set_value 7
the values of set_value 8
the values of set_value 9

## Multiplication Table

In [ ]:
# click esc
# click m
# hit shift + enter

In [55]:
l = [1,2,3,4,5,6,7,8,9,10]
num = 8
for number in l:
    print(num,"X",number,"=",num * number)

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

## Q1) Use a loop to print the numbers those are even in the given list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
21:23 ~ 6 mins

In [56]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
for i in l:
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [59]:
for i in l:
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3
5
7
9

In [60]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [66]:
for i in l:
    if i % 2 != 0:
        print(i," is Odd Number")
    else:
        print(i," is Even Number")

3  is Odd Number
6  is Even Number
9  is Odd Number
15  is Odd Number
18  is Even Number
21  is Odd Number
24  is Even Number
27  is Odd Number
30  is Even Number