In [ ]:
immutable data types (not Editable)

    int
    float
    str
    tuple
    None
    bool
    complex
    
Mutable data types

    list
    set
    dict

In [ ]:
what are the data types which we can consider it to be the key for dict or set

str
int
float
tuple
None
bool
complex

All immuyable data types can be the key for dictionary and set

In [ ]:
undered data types
1) indexing is not possible
2) Slicing is not possible
3) set and dict

## Q1) Make a list of numbers from 1 to 10 and loop over them and print ('yes') if it is a even number and ('no') if it is odd.

In [ ]:
3 mins 19:46

In [2]:
for i in range(1,11):
    if i%2 == 0:
        print(i,"Yes")
    else:
        print(i,"No")

1 No
2 Yes
3 No
4 Yes
5 No
6 Yes
7 No
8 Yes
9 No
10 Yes

## Q2) Print multiplication table of 5

### Pseudocode:
    1)loop from 1 to 10
    2)for each item, print * of 5 with it.

In [ ]:
2 mins 19:53

In [3]:
for num in range(1,11):
    print(num * 5)

5
10
15
20
25
30
35
40
45
50

# Q3) Print multiplication table for all the elments present in list1 = [12,7,5,8,13]

In [ ]:
10 mins 20:00

In [7]:
list_of_numbers=[12,5,7,8,13]
for num in list_of_numbers:
    print("the number picked up is ",num)
    for i in range(1,11):
        print(i * num)
    print("******************")

the number picked up is  12
12
24
36
48
60
72
84
96
108
120
******************
the number picked up is  5
5
10
15
20
25
30
35
40
45
50
******************
the number picked up is  7
7
14
21
28
35
42
49
56
63
70
******************
the number picked up is  8
8
16
24
32
40
48
56
64
72
80
******************
the number picked up is  13
13
26
39
52
65
78
91
104
117
130
******************

In [9]:
g=[12,7,5,8,13]
for i in g:
    for i in range(1,11):
        print(num ,"X" , i ,"=" , num*i)
    print("-------------------")

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
-------------------
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
-------------------
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
-------------------
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
-------------------
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
-------------------

## Q4 Find out the sum of the numbers without using any builtin function and compulary use a for loop
numbersList = [23,25,-43,0,-56]

In [ ]:
10 mins 20:29

In [12]:
numbersList = [23,25,-43,0,-56]
summation = 0
for num in numbersList:
    summation = summation + num

In [13]:
print(summation)

-51

In [15]:
numbersList = [23,25,-43,0,-56]
length_of_list = len(numbersList)

In [24]:
summation = 0
for i in range(length_of_list):
    
    summation = summation + numbersList[i]

In [25]:
print(summation)

-51

In [21]:
numbersList[0]

23

In [22]:
numbersList[1]

25

In [23]:
numbersList[2]

-43

In [28]:
list1=[23,25,-43,0,-56]
sum1 = 0
for i in list1:
    sum1 = sum1 + i

In [29]:
print(sum)

-51

In [ ]:
while loop

In [ ]:
while expression:
    statements

this while loop runs untill the expression  becomes the false

In [ ]:
Q) Write a program to print first 10 natural nubers using while loop

In [31]:
cond = 1
while cond<=11:
    print(cond)
    cond += 1

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
break --> it breaks the immidiate loop

In [32]:
cond = 1
while cond<=11:
    print(cond)
    if cond == 3:
        break
    cond += 1

1
2
3

In [ ]:
continue

In [38]:
cond = 0
while cond<=11:
    cond += 1
    if cond != 3:
        continue
    print(cond)

3