In [6]:
# Soham
str1="google.com"
dict1={}
for i in str1:
    keys=dict1.keys()
    if i in keys:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [1]:
d = {"Name":"Rajeshwar","Style":"Cool"}

In [2]:
d.keys() <-- returns an iterable (we can iterate over it)

dict_keys(['Name', 'Style'])

In [3]:
d["vandita"] = "Smart"

In [4]:
d

{'Name': 'Rajeshwar', 'Style': 'Cool', 'vandita': 'Smart'}

In [5]:
d.keys()

dict_keys(['Name', 'Style', 'vandita'])

# Functions

In [10]:
def is_leap(year):
    leap = False
    
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = False
    return leap

year = int(input())
print(is_leap(year))

2000
True

# Namespace

# Global Namespace
# Local Namespace
# Builtin Namespace

In [12]:
a = "Nikhil"
b = 10
c = 2.5

print(id(a))

2842461214832

In [13]:
print(id(b))

2842380429904

In [14]:
print(id(c))

2842460962608

In [16]:
a = "mango"
 
def fruits():
    a = "apple"
    print(a,end=" ")

fruits()
print(a)

#1 apple mango 
#2 apple apple 
#3 mango apple 
#4 mango mango

apple mango

In [17]:
a = "mango"
 
def fruits():
    print(a,end=" ")

fruits()
print(a)

#1 apple mango 
#2 apple apple 
#3 mango apple 
#4 mango mango

mango mango

In [ ]:
Local_namespace-> global_namespace

In [18]:
def length_of_list():
    l = [1,2,3]
    print(len(l))
length_of_list()

3

In [23]:
def len(aditya):
    count = 0
    for i in aditya:
        count+=1
    return count + 5

def length_of_list():
    
    def len(aditya):
        count = 0
        for i in aditya:
            count+=1
        return count + 6
    
    l = [1,2,3]
    print(len(l))

def second_length():
    l = (1,2,3)
    print(len(l))

print(length_of_list())
print(second_length())

9
None
8
None

In [24]:
# Global Keyword

In [26]:
a = "mango"
 
def fruits():
    global a
    a = "apple"
    print(a,end=" ")

fruits()
print(a)

apple apple

# Named Argument

In [27]:
def stunent_func(name,roll,stand):
    print(name," has roll no. ",roll," and studies in standard",stand)

In [28]:
stunent_func("Arjun",23,7)

Arjun  has roll no.  23  and studies in standard 7

In [29]:
stunent_func(23,"Arjun",7)

23  has roll no.  Arjun  and studies in standard 7

In [30]:
stunent_func(roll=26,name="Karthik",stand=8)

Karthik  has roll no.  26  and studies in standard 8

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Packing

In [36]:
# Unnamed Packing
def stunent_func(*value):
    print(value)
#     print(value[0]," has roll no. ",value[1]," and studies in standard",value[2])

stunent_func("Arjun",23,7,"Akshit")

('Arjun', 23, 7, 'Akshit')

### Named Packing

In [41]:
def stunent_func(**value):
    print(value)
    for i in value:
        print(i)
    print(type(value))
#     print(name," has roll no. ",roll," and studies in standard",stand)

stunent_func(roll=26,name="Karthik",stand=8)

{'roll': 26, 'name': 'Karthik', 'stand': 8}
roll
name
stand
<class 'dict'>